* {
  background: lightblue;
  font-family: Verdana, sans-serif;
}

.home {
  background: white;
  padding: 16px 8px;
  font-size: 24px;
}

.title {
  background: white;
  text-align: center;
  width: 640px;
  margin: 16px auto;
  padding: 16px;
}

.image {
  width: 640px;
  height: auto;
}

.image-div {
  width: 640px;
  margin: 0 auto;
  border: 16px solid white;
}

.chapter {
  background: white;
  text-align: center;
  width: 480px;
  margin: 16px auto;
  padding: 16px;
}

.subchapter {
  background: #ffffff80;
  padding: 16px;
}
