* {
  background: lightblue;
  font-family: Verdana, sans-serif;
}

.title {
  text-align: center;
  background: white;
  width: 240px;
  margin: 16px auto;
  padding: 16px;
}

.recipes {
  background: white;
  color: white;
  width: 240px;
  margin: 16px auto;
  padding: 16px;
}

.recipes-element {
  background: lightblue;
  text-align: center;
  font-size: 24px;
  margin: 8px;
  padding: 16px;
}
